export AWS_REGION=us-east-1
export EC2_INSTANCE_MAX_LIFE="30m"
export VPC_ID=vpc-id
export SECURITY_GROUP_ID="security-group-id"
export AWS_ACCESS_KEY_ID=aws-access-key
export AWS_SECRET_ACCESS_KEY=aws-secret-access-key
export ENVIRONMENT_NAME=Development
export SLACK_TOKEN="slack-token"
export SLACK_CHANNEL=test
